<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<!-- 配置一个过滤器 -->
	<filter>
		<filter-name>FirstFilter</filter-name>
		<filter-class>com.kexin.filter.FirstFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FirstFilter</filter-name>
		<url-pattern>*.kexin</url-pattern>
	</filter-mapping>
	<!-- 配置Spring字符编码过滤器,避免中文乱码-->
	<filter>
		<filter-name>encode</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encode</filter-name>
		<url-pattern>*.kexin</url-pattern>
	</filter-mapping>
	<!-- 配置前端控制器 -->
	<servlet>
		<servlet-name>spring</servlet-name>
		<!-- 分发servlet到那个方法 -->
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- 初始化加载配置文件 -->
		<init-param>
			<!-- 去那里寻找springMVC的配置文件 -->
			<param-name>contextConfigLocation</param-name>
			<param-value>WEB-INF/spring-servlet.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<!-- 拦截所有以*.kexin为扩展名的请求，会被spring 的 DispatcherServlet分发到对应controller里面 -->
		<url-pattern>*.kexin</url-pattern>
	</servlet-mapping>
</web-app>
